mixin wd1
    table.table.table-hover
        thead.bg-dark.text-light.text-uppercase
            tr
                th(colspan='2') Thông tin cơ bản
        tbody
            tr
                td Loại nhà đất
                td Bán nhà riêng
            tr
                td Giá bán
                td 3.72 Tỷ
            tr
                td Diện tích
                td 141 m²
            tr
                td Tổng giá
                td 3.72 Tỷ
            tr
                td Địa chỉ
                td Hiệp Bình Phước, Thủ Đức
    table.table.table-hover
        thead.bg-dark.text-light.text-uppercase
            tr
                th(colspan='2') Thông tin bổ sung
        tbody
            tr
                td Chiều rộng mặt tiền
                td 5 m
            tr
                td Chiều dài
                td 28 m
            tr
                td Hướng chính
                td Tây Nam
            tr
                td Đường vào rộng
                td 6 m
            tr
                td Tầng cao
                td 1
            tr
                td Số phòng ngủ
                td 2
            tr
                td Số phòng WC
                td 1
mixin wd2
    div(style='text-align: justify; color: #666;')
        | Với hơn 
        span(style='color: Red; font-size: 14px;') 100 000
        |  lượt truy cập mỗi ngày, Batdongsan.com.vn đã đạt mức tăng trưởng 300% chỉ trong 9 tháng đầu năm 2011 và tiếp tục khẳng định vị thế là nơi rao vặt nhà đất, quảng cáo nhà đất hiệu quả nhất hiện nay. Rao vặt nhà đất trên Batdongsan.com.vn là phương án tối ưu nhất cho nhu cầu bán, cho thuê nhà đất của Quý vị.



