extends ./layout/layout
block index
    include ./inc/header
    include ./inc/breaking
    .bg-light.py-md-3.--tab_box(tabs-role)
        .container.py-3(tabs-content)
            #register-tabs.--tab_content.show.active
                .row.bg-white.py-3
                    .col-md-6.order-md-1.order-2.text-md-left.text-center
                        h3.text-dark.text-uppercase Login or Create an Account
                        p By creating an account with our store, 
                            |you will be able to move through the checkout process faster, 
                            |store multiple shipping addresses, view and track your orders in your account and more.
                        a#login-tabs.btn.btn-info.bg-lg.show.active(href="#login-tabs", tab-action) Create an Account
                    .col-md-6.border-left.border-muted.order-md-2.order-1
                        h4.mb-0.text-dark Already registered?
                        small.d-block.mb-3 If you have an account with us, please log in.
                        form(action="/profile.html", method="POST")
                            .form-group
                                label(for="email") Your Email (*)
                                input#email.form-control(type="email", placeholder="Email Address")
                            .form-group
                                label(for="email") Password (*)
                                input#password.form-control(type="password", placeholder="******")
                            .form-group
                                button.btn.btn-primary.btn-lg.btn-block Login
            #login-tabs.--tab_content
                .row
                    .col-md-6.offset-md-3.bg-white.py-3
                        h5.text-muted Please Enter your Real details bellow to complete.
                        form(action="", method="post")
                            .form-group
                                .row
                                    .col-md-6
                                        label.text-secondary(for="f_name") First Name
                                        small.text-danger (*)
                                        input#f_name.form-control(type="text", name="f_name")
                                    .col-md-6
                                        label.text-secondary(for="l_name") Last Name
                                        small.text-danger (*)
                                        input#l_name.form-control(type="text", name="l_name")
                            .form-group
                                label.text-secondary(for="email") Email Address
                                small.text-danger (*)
                                input#email.form-control(type="email", name="email")
                            .form-group
                                .row
                                    .col-md-6
                                        label.text-secondary(for="password") Password
                                        small.text-danger (*)
                                        input#password.form-control(type="password", name="password")
                                    .col-md-6
                                        label.text-secondary(for="repassword") Retype Password
                                        small.text-danger (*)
                                        input#repasssword.form-control(type="password", name="repasssword")
                            .form-group
                                label.text-secondary(for="address") Address
                                small.text-danger (*)
                                input#address.form-control(type="text", name="address")
                            .form-group
                                .row
                                    .col-md-6
                                        label.text-secondary(for="city") City
                                        small.text-danger (*)
                                        input#city.form-control(type="text", name="city")
                                    .col-md-6
                                        label.text-secondary(for="pastcode") Zip/Postal Code
                                        small.text-danger (*)
                                        input#pastcode.form-control(type="text", name="pastcode")
                            .form-group
                                label.text-secondary(for="country") Country
                                include ./mixin/country
                            .form-group.text-center
                                        button.btn.btn-warning.btn-lg.mb-2 Register new account
                                        a#register-tabs.d-block.mt-2(href="#register-tabs", tab-action) Login Account
                                

