extends ./layout/home
block title
    title Home Page
block index
    include ./inc/header
    include ./inc/slider
    include ./inc/search
    section.bg-light
        .container.py-3
            .--list_box.bg-white
                .row
                    h2.--list_title.col-12.py-2.my-0
                        a(href="/detail.html") 
                            |CHỈ CẦN THANH TOÁN 225 TRIỆU NHẬN NỀN NỀN 100M2 VÀ TẶNG NGAY STK 50 TRIỆU, LIÊN HỆ: 0915.224.799 
                    .col-md-3.px-0
                        a.d-block(href="/detail.html").--list_thumb
                            img(src="http://nhadatthuduc.com/images/com_jea/images/11523/28.jpg", alt="")
                    .col-md-9.--list_content.px-md-2.px-0
                        figure.mb-2 
                            |Với quy mô dự án khu đô thị kinh tế mở Long Hưng - Biên Hòa - Đồng Nai (ngay Quốc lộ 51, ngã 3 bến gỗ vào 800m).+ Quy mô dự án 1.500 ha, thổ cư 100%. + Toàn bộ dự án được bao bọc bởi 45km sông Đồng Nai và các kênh sông lớn nhỏ trong lòng dự án. + Cơ sở hạ tầng hoàn chỉnh: Đường nhựa với các trục đườ...
                            small.d-block.text-muted 03/05/2018
                        table.table.table-reponsive.--list_footer
                            tbody
                                tr
                                    td
                                        span.mr-2 Giá
                                        span.font-weight-bold.text-primary
                                            |3.4 tỷ
                                    td
                                        span.mr-2 Diện tích
                                        span.font-weight-bold.text-primary
                                            |82 m²
                                            
                                    td
                                        span.mr-2 Quận/Huyện
                                        span.font-weight-bold.text-primary
                                            | Bình Thạnh, Hồ Chí Minh
            .--list_box.bg-white
                .row
                    h2.--list_title.col-12.py-2.my-0
                        a(href="/detail.html") 
                            |CHỈ CẦN THANH TOÁN 225 TRIỆU NHẬN NỀN NỀN 100M2 VÀ TẶNG NGAY STK 50 TRIỆU, LIÊN HỆ: 0915.224.799 
                    .col-md-3.px-0
                        a.d-block(href="/detail.html").--list_thumb
                            img(src="http://nhadatthuduc.com/images/com_jea/images/11523/28.jpg", alt="")
                    .col-md-9.--list_content.px-md-2.px-0
                        figure.mb-2 
                            |Với quy mô dự án khu đô thị kinh tế mở Long Hưng - Biên Hòa - Đồng Nai (ngay Quốc lộ 51, ngã 3 bến gỗ vào 800m).+ Quy mô dự án 1.500 ha, thổ cư 100%. + Toàn bộ dự án được bao bọc bởi 45km sông Đồng Nai và các kênh sông lớn nhỏ trong lòng dự án. + Cơ sở hạ tầng hoàn chỉnh: Đường nhựa với các trục đườ...
                            small.d-block.text-muted 03/05/2018
                        table.table.table-reponsive.--list_footer
                            tbody
                                tr
                                    td
                                        span.mr-2 Giá
                                        span.font-weight-bold.text-primary
                                            |3.4 tỷ
                                    td
                                        span.mr-2 Diện tích
                                        span.font-weight-bold.text-primary
                                            |82 m²
                                            
                                    td
                                        span.mr-2 Quận/Huyện
                                        span.font-weight-bold.text-primary
                                            | Bình Thạnh, Hồ Chí Minh
            .--list_box.bg-white
                .row
                    h2.--list_title.col-12.py-2.my-0
                        a(href="/detail.html") 
                            |CHỈ CẦN THANH TOÁN 225 TRIỆU NHẬN NỀN NỀN 100M2 VÀ TẶNG NGAY STK 50 TRIỆU, LIÊN HỆ: 0915.224.799 
                    .col-md-3.px-0
                        a.d-block(href="/detail.html").--list_thumb
                            img(src="http://nhadatthuduc.com/images/com_jea/images/11523/28.jpg", alt="")
                    .col-md-9.--list_content.px-md-2.px-0
                        figure.mb-2 
                            |Với quy mô dự án khu đô thị kinh tế mở Long Hưng - Biên Hòa - Đồng Nai (ngay Quốc lộ 51, ngã 3 bến gỗ vào 800m).+ Quy mô dự án 1.500 ha, thổ cư 100%. + Toàn bộ dự án được bao bọc bởi 45km sông Đồng Nai và các kênh sông lớn nhỏ trong lòng dự án. + Cơ sở hạ tầng hoàn chỉnh: Đường nhựa với các trục đườ...
                            small.d-block.text-muted 03/05/2018
                        table.table.table-reponsive.--list_footer
                            tbody
                                tr
                                    td
                                        span.mr-2 Giá
                                        span.font-weight-bold.text-primary
                                            |3.4 tỷ
                                    td
                                        span.mr-2 Diện tích
                                        span.font-weight-bold.text-primary
                                            |82 m²
                                            
                                    td
                                        span.mr-2 Quận/Huyện
                                        span.font-weight-bold.text-primary
                                            | Bình Thạnh, Hồ Chí Minh
            .--list_box.bg-white
                .row
                    h2.--list_title.col-12.py-2.my-0
                        a(href="/detail.html") 
                            |CHỈ CẦN THANH TOÁN 225 TRIỆU NHẬN NỀN NỀN 100M2 VÀ TẶNG NGAY STK 50 TRIỆU, LIÊN HỆ: 0915.224.799 
                    .col-md-3.px-0
                        a.d-block(href="/detail.html").--list_thumb
                            img(src="http://nhadatthuduc.com/images/com_jea/images/11523/28.jpg", alt="")
                    .col-md-9.--list_content.px-md-2.px-0
                        figure.mb-2 
                            |Với quy mô dự án khu đô thị kinh tế mở Long Hưng - Biên Hòa - Đồng Nai (ngay Quốc lộ 51, ngã 3 bến gỗ vào 800m).+ Quy mô dự án 1.500 ha, thổ cư 100%. + Toàn bộ dự án được bao bọc bởi 45km sông Đồng Nai và các kênh sông lớn nhỏ trong lòng dự án. + Cơ sở hạ tầng hoàn chỉnh: Đường nhựa với các trục đườ...
                            small.d-block.text-muted 03/05/2018
                        table.table.table-reponsive.--list_footer
                            tbody
                                tr
                                    td
                                        span.mr-2 Giá
                                        span.font-weight-bold.text-primary
                                            |3.4 tỷ
                                    td
                                        span.mr-2 Diện tích
                                        span.font-weight-bold.text-primary
                                            |82 m²
                                            
                                    td
                                        span.mr-2 Quận/Huyện
                                        span.font-weight-bold.text-primary
                                            | Bình Thạnh, Hồ Chí Minh
                        
                        //- ul.d-md-inline-flex.d-block.--list_footer
                        //-     li Giá:
                        //-         strng.ml-2 3.4 tỷ
                        //-     li Diện tích: 
                        //-         strng.ml-2 82 m²
                        //-     li Quận/Huyện: 
                        //-         strng.ml-2 Bình Thạnh, Hồ Chí Minh
                        //-     li 03/05/2018
            nav(aria-label='Page navigation example')
                ul.pagination.justify-content-center
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1') Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') Next
            
