extends ./layout/layout
block index
    include ./inc/header
    include ./inc/breaking
    .container-fluid.bg-white.py-3.text-center
        img.d-inline-block(src="/dist/images/logo/fileboom-premium-key-200x75.png", alt="")
        big.d-block FileBoom.me Premium Form 
            span.text-info  FileBoom.me
    .container-fluid.bg-light.py-3
        .row
            .col-md-3.item--content.py-3
                .text-center
                    .d-block.bg-info.text-white.vutafont.p-3 FileBoom Premium Key
                    big.d-block.bg-dark.pt-3.text-light.align-top
                        small.align-top $
                        span.align-top 16.99
                        small.align-top /30 days
                    ul.nolist.d-block.w-100.bg-white
                        li.text-success.py-2.border-bottom.border-muted
                            i.fa.fa-check.mr-2
                            | In Stock
                        li.py-2 Daily limit
                            strong.ml-1 20GB
                a.btn.btn-primary.btn-block.btn-lg.rounded-0.text-white
                    i.fa.fa-shopping-cart.fa-lg.mr-2
                    |Add Cart
            .col-md-3.item--content.py-3
                .text-center
                    .d-block.bg-info.text-white.vutafont.p-3 FileBoom Premium Key
                    big.d-block.bg-dark.pt-3.text-light.align-top
                        small.align-top $
                        span.align-top 16.99
                        small.align-top /30 days
                    ul.nolist.d-block.w-100.bg-white
                        li.text-success.py-2.border-bottom.border-muted
                            i.fa.fa-check.mr-2
                            | In Stock
                        li.py-2 Daily limit
                            strong.ml-1 20GB
                a.btn.btn-primary.btn-block.btn-lg.rounded-0.text-white
                    i.fa.fa-shopping-cart.fa-lg.mr-2
                    |Add Cart
            .col-md-3.item--content.py-3
                .text-center
                    .d-block.bg-info.text-white.vutafont.p-3 FileBoom Premium Key
                    big.d-block.bg-dark.pt-3.text-light.align-top
                        small.align-top $
                        span.align-top 16.99
                        small.align-top /30 days
                    ul.nolist.d-block.w-100.bg-white
                        li.text-success.py-2.border-bottom.border-muted
                            i.fa.fa-check.mr-2
                            | In Stock
                        li.py-2 Daily limit
                            strong.ml-1 20GB
                a.btn.btn-primary.btn-block.btn-lg.rounded-0.text-white
                    i.fa.fa-shopping-cart.fa-lg.mr-2
                    |Add Cart
            .col-md-3.item--content.py-3
                .text-center
                    .d-block.bg-info.text-white.vutafont.p-3 FileBoom Premium Key
                    big.d-block.bg-dark.pt-3.text-light.align-top
                        small.align-top $
                        span.align-top 16.99
                        small.align-top /30 days
                    ul.nolist.d-block.w-100.bg-white
                        li.text-success.py-2.border-bottom.border-muted
                            i.fa.fa-check.mr-2
                            | In Stock
                        li.py-2 Daily limit
                            strong.ml-1 20GB
                a.btn.btn-primary.btn-block.btn-lg.rounded-0.text-white
                    i.fa.fa-shopping-cart.fa-lg.mr-2
                    |Add Cart
            .col-md-3.item--content.py-3
                .text-center
                    .d-block.bg-info.text-white.vutafont.p-3 FileBoom Premium Key
                    big.d-block.bg-dark.pt-3.text-light.align-top
                        small.align-top $
                        span.align-top 16.99
                        small.align-top /30 days
                    ul.nolist.d-block.w-100.bg-white
                        li.text-success.py-2.border-bottom.border-muted
                            i.fa.fa-check.mr-2
                            | In Stock
                        li.py-2 Daily limit
                            strong.ml-1 20GB
                a.btn.btn-primary.btn-block.btn-lg.rounded-0.text-white
                    i.fa.fa-shopping-cart.fa-lg.mr-2
                    |Add Cart
    include ./inc/concept
    include ./inc/faq 
    include ./inc/review