extends ./layout/layout
block index
    include ./inc/header
    include ./inc/breaking
    .bg-light.py-3
        .container
            .row
                include ./inc/nav-profile
                .col-md-12.bg-white.py-3.border-bottom.border-muted
                    h4.text-uppercase.mb-3 Dashboard
                    p.mb-0 Welcome
                        b.mx-1 GhinLop!
                    p.mb-0.text-muted
                        |From your My Account Dashboard you have the ability to view a snapshot of your 
                        |recent account activity and update ayour account infomation.
                    p.mb-0.text-muted Select a link below to view or edit infomation
                .col-md-12.bg-white.py-3.border-bottom.border-muted
                    .row
                        .col-md-6.border-right.border-muted
                            h4.text-uppercase.mb-3 My Credit Points
                            h3.text-info 41
                                small.ml-2 ($41.00)
                            a.d-block(href="/creditpoint.html")
                                small Credit Manages
                        .col-md-6
                            h4.text-uppercase.mb-3 Total Serial Purchase
                            h3.text-info 100
                            a.d-block(href="#")
                                small Serial Manages
                .col-md-12.bg-white.py-3.border-bottom.border-muted
                    .row.align-items-center.mb-3
                        h4.text-uppercase.mb-0.col-md-11.col-10 My Profile
                        .col-md-1.col-2
                            a.d-block.bg-1.text-white.p-1.text-center(href="/edit-profile.html")
                                i.fa.fa-pencil.fa-lg
                    ul.nolist
                        li.px-3.row
                            b.col-4 Fullname:
                            i.col-8 Ghin Lop
                        li.px-3.row
                            b.col-4 Username:
                            i.col-8 GhinLop
                        li.px-3.row
                            b.col-4 Password:
                            i.col-8 ********
                        li.px-3.row
                            b.col-4 Email:
                            i.col-8 ghinlop@gmail.com
                        li.px-3.row
                            b.col-4 City:
                            i.col-8 Vung Tau City
                        li.px-3.row
                            b.col-4 Zip/Postal Code:
                            i.col-8 79000
                        li.px-3.row
                            b.col-4 Country:
                            i.col-8 Vietnam
                        li.px-3.row
                            b.col-4 Address:
                            i.col-8 123 abc
                    