<footer class="uk-animation-slide-bottom-medium">
    <div class="uk-container">
        <div class="row">
            <div class="col-6 d-md-inline-flex align-items-center">
                <div class="d-md-inline-block">
                        2018
                        <a class="uk-text-bold px-1" href="/">ECOGREEN</a>.
                        All Rights Reserved
                </div>
                <ul class="nolist d-inline-flex my-0 ml-md-1 gh-social-icon">
                    <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="#" class="fa fa-youtube fa-lg"></a></li>
                    <li><a href="#" class="fa fa-google fa-lg"></a></li>
                </ul>
            </div>
            <div class="col-6 text-md-right">
                <a class="d-inline-flex align-items-center gh-phone uk-animation-toggle" href="tel:0868954001">
                    <i class="fa fa-phone mr-1 uk-animation-shake"></i>
                    <span class="uk-h4">08 68 954 001</span>
                </a>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="./static/js/jquery-3.3.1.min.js"></script>
<script src="./static/js/uikit.min.js"></script>
<script src="./static/js/uikit-icons.min.js"></script>
<script src="./static/js/swiper.min.js"></script>
<script src="./static/js/main.js"></script>
</body>

</html>