.container-fluid
    .row.align-items-center
        .col-md-2.text-uppercase.break--title.break--border.py-2
            |Breaking news
        ul.col.md-10.break--border.nolist.d-md-inline-flex
            li.py-2.px-3
                a(href="#") Find Premium Key
            li.py-2.px-3
                a(href="#") Sale 50% Premium Key
            