.body--concept.py-md-5.py-3
    .container-fluid
        .row
            .col-md-3.mb-2
                .d-block.bg-white.p-3.text-md-left.text-center
                    .row.align-items-center    
                        .col-md-3.text-center
                            i.fa.fa-4x.fa-clock-o.color_1
                        .col-md-9
                            big.d-block.color_2 Delivery offers
                            p.mb-0 The PREMIUM send to your eMail
            .col-md-3.mb-2
                .d-block.bg-white.p-3.text-md-left.text-center
                    .row.align-items-center    
                        .col-md-3.text-center
                            i.fa.fa-4x.fa-paypal.color_1
                        .col-md-9
                            big.d-block.color_2 Payment Methods
                            p.mb-0 100% Money-back guarantee
            .col-md-3.mb-2
                .d-block.bg-white.p-3.text-md-left.text-center
                    .row.align-items-center    
                        .col-md-3.text-center
                            i.fa.fa-4x.fa-shield.color_1
                        .col-md-9
                            big.d-block.color_2 Secured Checkout
                            p.mb-0.text-danger No Recurring Payments.
                            p.mb-0 Best security features
            .col-md-3
                .d-block.bg-white.p-3.text-md-left.text-center
                    .row.align-items-center    
                        .col-md-3.text-center
                            i.fa.fa-4x.fa-life-ring.color_1
                        .col-md-9
                            big.d-block.color_2 24/7 Support
                            p.mb-0 We're here to help via Livechat & Email