footer
    .bg-dark.py-3.footer
        .container-fluid
            .row
                .col-md-3.footer_info.mb-md-0.mb-2
                    a.d-block.footer_logo.mb-1.text-md-left.text-center(href="/")
                        img.w-100(src="/dist/images/logo.png", alt="")
                    ul.nolist
                        li.d-inline-flex.align-items-center.w-100
                            i.fa.fa-clock-o.mr-1.fa-lg.mr-1.p-1
                            p.mb-0 Working 8:00AM - 11:00PM GTM + 7
                        li.d-inline-flex.align-items-center.w-100
                            i.fa.fa-phone.fa-lg.mr-1.p-1
                            p.mb-0
                                a(href="tel:02546275555") 
                                    |Hotline: (+84) 254 627 5555
                                a(href="tel:02547300400 ") 
                                    |Hotline (Time out): (+84) 2547 300 400 
                        li.d-inline-flex.align-items-center.w-100
                            i.fa.fa-envelope.fa-lg.mr-1.p-1
                            p.mb-0
                                a(href="mailto:design@vutatech.vn")
                                    |Design@vutatech.vn
                .col-md-3.mb-2
                    h4.text-light.footer_title.mb-md-3.mb-1 INFORMATION
                    ul.nolist.footer_list
                        li
                            a(href='/') About
                        li
                            a(href='/') Secure Online Shopping
                        li
                            a(href='/') Delivery Information
                        li
                            a(href='/') Privacy Policy
                        li
                            a(href='/') Terms & Conditions
                        li
                            a(href='/') Cancellation & Refund Policy
                .col-md-3.mb-2
                    h4.text-light.footer_title.mb-md-3.mb-1 CUSTOMERS SERVICE
                    ul.nolist.footer_list
                        li
                            a(href='/') Contact Us
                        li
                            a(href='/') My Account
                        li
                            a(href='/') My Orders
                        li
                            a(href='/') Activate Premium
                        li
                            a(href='/') LOOKUP YOUR KEY
                        li
                            a(href='/') SOCIAL HUB
                .col-md-3
                    h4.text-light.footer_title.mb-md-3.mb-1 SUBSCRIBE
                    p.text-light Subscribe to our newsletter to get the latest scoop right to your inbox.
                    form(action="")
                        .input-group.mb-3
                            input.form-control(type='text', placeholder="Your Email Address", aria-label="Your Email Address", aria-describedby='basic-addon2')
                            .input-group-append
                                button#basic-addon2.input-group-text(type='submit') Accept
    .bg-dark
        .container-fluid.text-center.py-1.text-light
            a.text-light(href="/") Copyrights © 2017 by VUTAWEB.VN. All Rights Reserved.


    