footer.py-2
    .container
        .row
            .col-md-4.mb-md-0.mb-2
                a.d-block.pb-2(href="/")
                    img(src="/dist/images/logo.png", alt="")
                p.text-light
                    |As a property developers every project  we offer quality Properties and Services for our trustable customers. 
                p.text-light
                    |If you are interested in real estate do not wait and BUY IT NOW!
                ul.d-inline-flex.none-style-list.--social
                    li.mr-1
                        a(href="#")
                            i.fa.fa-facebook
                    li.mr-1
                        a(href="#")
                            i.fa.fa-google-plus
                    li.mr-1
                        a(href="#")
                            i.fa.fa-youtube
                    li.mr-1
                        a(href="#")
                            i.fa.fa-twitter
            .col-md-4.mb-md-0.mb-2
                h4.--footer_title.text-uppercase
                    |Liên Kết Nhanh
                ul.--footer_list_link.row.none-style-list.icon
                    li.col-md-6
                        a(href="/") Trang chủ
                    li.col-md-6
                        a(href="/") Giới thiệu
                    li.col-md-6
                        a(href="/") Tin tức
                    li.col-md-6
                        a(href="/") Quảng cáo
                    li.col-md-6
                        a(href="/") Bán nhà 
                    li.col-md-6
                        a(href="/") Bán đất 
                    li.col-md-6
                        a(href="/contact") Hỗ trợ
            .col-md-4.mb-md-0.mb-2
                h4.--footer_title.text-uppercase
                    |Thông Tin Liên Hệ
                ul.--footer_list_link.none-style-list
                    li
                        i.fa.fa-home.mr-1
                        |Address: PO Box 859, La Corner St, Sanfransisco, CA 52698
                    li
                        a(href="tel:989418460")
                            i.fa.fa-phone.mr-1
                            |Phone: 98941-84-604
                    li
                        a(href="mailto:demo@vutatech.vn")
                            i.fa.fa-envelope.mr-1
                            |Email: Demo@vutatech.vn
                    li
                        a(href="http://vutatech.vn")
                            i.fa.fa-globe.mr-1
                            |Website: Vutatech.vn
    .container.text-center.text-light
        |Copyright ©2018 Bất Động Sản Template design by 
        a(href="/") Vutatech.vn

