.body-items.py-5
    .container-fluid
        .row
            each val in data
                .col-md-3.col-6.px-md-3.px-1.mb-2
                    a.d-block.body--item(href="/item-content.html")
                        .d-block.d-md-inline-block.color_1.item--title=val.name
                        .d-block.bg-white.p-1
                            img.d-block.w-100(src="../../dist/images/logo/" + val.img, alt=val.name)