ul.col-md-12.bg-1.nolist.d-inline-flex.nav-profile
    li.flex-1
        a.d-block.text-center.py-1(href="/profile.html")
            i.fa.fa-cubes.fa-lg
            p.mb-0.d-block Dashboard
    li.flex-1
        a.d-block.text-center.py-1(href="/creditpoint.html")
            i.fa.fa-credit-card.fa-lg
            p.mb-0.d-block Credit Point
    li.flex-1
        a.d-block.text-center.py-1(href="/edit-profile.html")
            i.fa.fa-lock.fa-lg
            p.mb-0.d-block Change Profile
    li.flex-1
        a.d-block.text-center.py-1(href="/serial-manage.html")
            i.fa.fa-clock-o.fa-lg
            p.mb-0.d-block History