.bg-light.body--review.py-5
    .container-fluid
        .d-block.body--header
            .d-md-inline-block.d-block.p-3.body--title 
                |Some Of Our 50,000+ Customers used Services
    .container-fluid
        .d-block.bg-white.mb-2 
            .d-block.px-3
                .row.review--header.align-items-center.border-bottom.border-muted
                    h6.col-md-6.text-info.mb-0.p-3.font-weight-bold.review--title
                            |Ys Jung (Graphic Designer/ Freelance Design)
                    small.col-md-6.d-none.d-md-block.text-right.text-muted
                        i.fa.fa-date
                        |May 26, 2016 9:16am
            .d-block.p-3.font-weight-light.review--body
                |Thank you FileSharingShop with your fast help.
                br 
                |I get the filejoker premium and i will be buy another premium code again soon...
        .d-block.bg-white.mb-2 
            .d-block.px-3
                .row.review--header.align-items-center.border-bottom.border-muted
                    h6.col-md-6.text-info.mb-0.p-3.font-weight-bold.review--title
                            |Ys Jung (Graphic Designer/ Freelance Design)
                    small.col-md-6.d-none.d-md-block.text-right.text-muted
                        i.fa.fa-date
                        |May 26, 2016 9:16am
            .d-block.p-3.font-weight-light.review--body
                |Thank you FileSharingShop with your fast help.
                br 
                |I get the filejoker premium and i will be buy another premium code again soon...
        .d-block.bg-white.mb-2 
            .d-block.px-3
                .row.review--header.align-items-center.border-bottom.border-muted
                    h6.col-md-6.text-info.mb-0.p-3.font-weight-bold.review--title
                            |Ys Jung (Graphic Designer/ Freelance Design)
                    small.col-md-6.d-none.d-md-block.text-right.text-muted
                        i.fa.fa-date
                        |May 26, 2016 9:16am
            .d-block.p-3.font-weight-light.review--body
                |Thank you FileSharingShop with your fast help.
                br 
                |I get the filejoker premium and i will be buy another premium code again soon...
        .d-block.bg-white.mb-2 
            .d-block.px-3
                .row.review--header.align-items-center.border-bottom.border-muted
                    h6.col-md-6.text-info.mb-0.p-3.font-weight-bold.review--title
                            |Ys Jung (Graphic Designer/ Freelance Design)
                    small.col-md-6.d-none.d-md-block.text-right.text-muted
                        i.fa.fa-date
                        |May 26, 2016 9:16am
            .d-block.p-3.font-weight-light.review--body
                |Thank you FileSharingShop with your fast help.
                br 
                |I get the filejoker premium and i will be buy another premium code again soon...
        .d-block.bg-white.mb-2 
            .d-block.px-3
                .row.review--header.align-items-center.border-bottom.border-muted
                    h6.col-md-6.text-info.mb-0.p-3.font-weight-bold.review--title
                            |Ys Jung (Graphic Designer/ Freelance Design)
                    small.col-md-6.d-none.d-md-block.text-right.text-muted
                        i.fa.fa-date
                        |May 26, 2016 9:16am
            .d-block.p-3.font-weight-light.review--body
                |Thank you FileSharingShop with your fast help.
                br 
                |I get the filejoker premium and i will be buy another premium code again soon...
        .d-block.bg-white.mb-2 
            .d-block.px-3
                .row.review--header.align-items-center.border-bottom.border-muted
                    h6.col-md-6.text-info.mb-0.p-3.font-weight-bold.review--title
                            |Ys Jung (Graphic Designer/ Freelance Design)
                    small.col-md-6.d-none.d-md-block.text-right.text-muted
                        i.fa.fa-date
                        |May 26, 2016 9:16am
            .d-block.p-3.font-weight-light.review--body
                |Thank you FileSharingShop with your fast help.
                br 
                |I get the filejoker premium and i will be buy another premium code again soon...