section.--slider(slider=".slider-top" sliderThumb=".slider-thumbs")
    .swiper-container.slider-top
        .swiper-wrapper
            .swiper-slide
                .--slider_item
                    img(src="/dist/images/slide-1.jpg", alt="")
                    .--slider_content.bg-white
                        h4.text-info.--slider_title BÁN ĐẤT ĐƯỜNG 12 P. TAM BÌNH, HẺM XE HƠI 7M CÓ VỈA HÈ, DT 67M2 GIÁ 36tr/m2
                        figure.text-primary._address Tam Bình
                        figure._content Còn một lô duy nhất ngay sát mặt tiền đường 12, Tam Bình, cách đúng 20m. Hẻm nhựa 7m ô tô ra vào thoải mái có vỉa hè, đối diện chung cư SunView Town, vị trí cực đẹp, cao ráo, khu dân cư an ninh và...
            .swiper-slide
                .--slider_item
                    img(src="/dist/images/slide-2.jpg", alt="")
                    .--slider_content.bg-white
                        h4.text-info.--slider_title BÁN ĐẤT ĐƯỜNG 12 TAM BÌNH LIỀN KỀ VÀNH ĐAI 2, GIÁ 36TR/M2 
                        figure.text-primary._address Tam Bình
                        figure._content Vị trí: Hẻm 26 đường 12, Tam Bình, Thủ Đức. Ngay nút giao Gò Dưa, Kế bên Tô Ngọc Vân và tuyến Vành Đai 2 rộng 67m, tiện di chuyển ra Quốc lộ 13, Quốc lộ 1A. - Hạ tầng đẹp, rất an ninh và...
            .swiper-slide
                .--slider_item
                    img(src="/dist/images/slide-3.jpg", alt="")
                    .--slider_content.bg-white
                        h4.text-info.--slider_title Nhà mới toanh, CHỈ 2.8TỶ. 1T 3L, 1TUM, DT 56m2, Đường 36, Hiệp Bình Chánh - Thủ... 
                        figure.text-primary._address Tam Bình
                        figure._content TẠI SAO PHẢI MUA NHÀ CHUNG CƯ VỚI NỔI LO CHÁY NHÀ LUÔN RÌNH RẬP. TRONG KHI BẰNG SỐ TIỀN CÓ THỂ SỞ HỮU NHÀ NGUYÊN CĂN MỚI TINH KIÊN CỐ 1 TRỆT 3 LẦU, 1TUM VỚI THIẾT KẾ PHONG CÁCH CHÂU ÂU. Cầm...
            
            .swiper-slide
                .--slider_item
                    img(src="/dist/images/slide-1.jpg", alt="")
                    .--slider_content.bg-white
                        h4.text-info.--slider_title BÁN ĐẤT ĐƯỜNG 12 P. TAM BÌNH, HẺM XE HƠI 7M CÓ VỈA HÈ, DT 67M2 GIÁ 36tr/m2
                        figure.text-primary._address Tam Bình
                        figure._content Còn một lô duy nhất ngay sát mặt tiền đường 12, Tam Bình, cách đúng 20m. Hẻm nhựa 7m ô tô ra vào thoải mái có vỉa hè, đối diện chung cư SunView Town, vị trí cực đẹp, cao ráo, khu dân cư an ninh và...
            .swiper-slide
                .--slider_item
                    img(src="/dist/images/slide-2.jpg", alt="")
                    .--slider_content.bg-white
                        h4.text-info.--slider_title BÁN ĐẤT ĐƯỜNG 12 TAM BÌNH LIỀN KỀ VÀNH ĐAI 2, GIÁ 36TR/M2 
                        figure.text-primary._address Tam Bình
                        figure._content Vị trí: Hẻm 26 đường 12, Tam Bình, Thủ Đức. Ngay nút giao Gò Dưa, Kế bên Tô Ngọc Vân và tuyến Vành Đai 2 rộng 67m, tiện di chuyển ra Quốc lộ 13, Quốc lộ 1A. - Hạ tầng đẹp, rất an ninh và...
            .swiper-slide
                .--slider_item
                    img(src="/dist/images/slide-3.jpg", alt="")
                    .--slider_content.bg-white
                        h4.text-info.--slider_title Nhà mới toanh, CHỈ 2.8TỶ. 1T 3L, 1TUM, DT 56m2, Đường 36, Hiệp Bình Chánh - Thủ... 
                        figure.text-primary._address Tam Bình
                        figure._content TẠI SAO PHẢI MUA NHÀ CHUNG CƯ VỚI NỔI LO CHÁY NHÀ LUÔN RÌNH RẬP. TRONG KHI BẰNG SỐ TIỀN CÓ THỂ SỞ HỮU NHÀ NGUYÊN CĂN MỚI TINH KIÊN CỐ 1 TRỆT 3 LẦU, 1TUM VỚI THIẾT KẾ PHONG CÁCH CHÂU ÂU. Cầm...
        .swiper-button-next
        .swiper-button-prev
    .swiper-container.slider-thumbs.bg-dark
        .swiper-wrapper
            .swiper-slide
                img(src="/dist/images/slide-1.jpg", alt="")
            .swiper-slide
                img(src="/dist/images/slide-2.jpg", alt="")
            .swiper-slide
                img(src="/dist/images/slide-3.jpg", alt="")
            .swiper-slide
                img(src="/dist/images/slide-1.jpg", alt="")
            .swiper-slide
                img(src="/dist/images/slide-2.jpg", alt="")
            .swiper-slide
                img(src="/dist/images/slide-3.jpg", alt="")
