<div class="swiper-slide">
    <div class="gh-slider-item">
        <div class="gh-cover-bg" uk-img data-src="./static/images/banner/bn-1.jpg" alt=""></div>
        <div class="position-relative">
                <div class="gh-slider-effect-right">
                    <div class="uk-position-center w-100">
                        <h1 class="my-0 text-uppercase text-white">
                            ECO Green
                        </h1>
                        <hr class="uk-divider-icon">
                        <h2 class="my-0 text-uppercase text-white">sài gòn</h2>
                        <p>Đem ước mơ đến trong tầm tay bạn</p>
                    </div>
                </div>
            </div>
        <div class="uk-position-bottom-center pb-5">
            <a href="#" class="gh-btn-trans">Nhận thông tin dự án</a>
            <div class="gh-arrow-down d-block mt-3" uk-icon="icon: chevron-down; ratio: 2"></div>
        </div>

    </div>
</div>
