<div class="swiper-slide">
    <div class="gh-slider-item gh-gradien-green-white">
        <div class="uk-position-center">
            <h2 
            class="uk-h3 my-0 text-success text-uppercase uk-text-bold"
            gh-effect="uk-animation-slide-right-mediu">
                SỰ MONG ĐỢI CỦA GIỚI TINH HOA
            </h2>
            <hr 
            class="uk-divider-icon"
            uk-scrollspy="cls:uk-animation-fade; delay: 200; repeat: true">
            <h3 
            class="text-success my-0"
            uk-scrollspy="cls:uk-animation-slide-right-medium; delay: 200; repeat: true">
                Tận hưởng cuộc sống thượng lưu ở đẳng cấp mới.
            </h3>
            <small uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 200; repeat: true">
                Nơi chốn ở hòa quyện tinh tế cùng chuỗi tiện ích giải trí,
            </small>
        </div>
    </div>
</div>
