.header{
    position: relative;
    z-index: 10;
    .--menu_top, .--social{
        li{
            padding: 10px 0;
            color: #fff;
            a{
                color: #fff;
                display: block;
                &:hover{
                    color: rgb(167, 221, 252);
                }
            }
        }
    }
    .--social{
        li {
            > a{
                text-align: center;
                min-width: 32px;
                height: 32px;
                line-height: 32px;
                font-size: .9em;
                padding: 0 5px;
                background: linear-gradient(to right, #43bade 0%,#43bade 50%,#3fb3d7 50%,#3fb3d7 50%,#3fb3d7 100%);
                &:hover{
                    background: linear-gradient(to right, #e06e26 0%,#e06e26 50%,#f4762a 50%,#f4762a 50%,#f4762a 100%);
                    color: #fff;
                }
                &.warning{
                    overflow: hidden;
                    background: linear-gradient(90deg,#d4a84f 0,#dec143 50%,#d7753f 0,#d7ba3f 0,#d7a03f);
                }
            }
        }
    }
    .--header_bottom{
        border-bottom: 5px solid #f1f1f1;
        .--logo{
            a{
                display: block;
                img{
                    max-width: 180px;
                }
            }
        }
        .--menu_bottom{
            >li{
                >a{
                    text-align: center;
                    padding: 10px 15px;
                    display: block;
                    border-radius: 5px;
                    font-size: 1.1em;
                    position: relative;
                    color: #222;
                    &:hover{
                        color: #4dc2e6;
                    }
                }
            }
        }
        .--contact_phone_header{
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #f1f1f1;
            color: #3fb3d7;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

        }
    }
    
}
#over{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(3,3,3,0.5);
    z-index: -10;
    display: none;
    &.active{
        z-index: 10;
        display: block;
    }
}
@media screen and (min-width: 769px){
    .ps{
        overflow: unset!important;
    }
}
@media screen and (max-width: 768px){
    .header{
        .--social{
            li{
                flex: 1;
            }
        }
        .--header_bottom{
            position: relative;
            aside{
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                max-width: 80%;
                z-index: 999;
                padding: 0;
                @include transform(translateX(125%));
                @include effect;
                &.active{
                    @include transform(translateX(25%));
                }
                .--menu_bottom{
                    background: #333;
                    height: 100%;
                    position: relative;
                    >li{
                        >a{
                            text-align: left;
                            color: #ddd;
                            padding: 10px 15px;
                            border-bottom: 1px solid #555;
                            &:hover{
                                color: #fff;
                            }
                        }
                        &:last-child{
                            >a{
                                border-bottom: 0;
                            }
                        }
                        &.close-btn{
                            position: fixed;
                            left: -45px;
                            top: 10px;
                            >a{
                                background: #333;
                            }
                        }
                    }
                }
            }
        }
        
    }
}